<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/public/assets/js/script.js"></script>
    <title>Project 2</title>
</head>
<body>
    <div class="container">
     <div class="jumbotron">
        <h1 class="display-4 text-center">Our group name</h1>
        <p class="lead text-center">Kevin, Yong, Sergio, Jacob</p>
        <hr class="my-4">
        <nav class="navbar navbar-light">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
      </div>
      
      <iframe id ="youtube" width="560" height="315" src="https://www.youtube.com/embed/Zk9YHQcLQcs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>


    {{{body}}}
</body>
</html>