
{{!-- {{#each this}} --}}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Playlist</h2>
        </div>
      </div>
      <div class="row">
    {{#each this.Songs}}
          <div class="col-3" id="playlist">
            <div class="card">
              <div>{{name}}</div>
              <button id="play-song" type="button" class="btn btn-outline-dark">Play this song</button>
              <button id="delete-song" type="button" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    {{/each}} 
      </div>
    </div>
{{!-- {{/each}}  --}}

