  nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  #login {
    display: none;
  }

  #loggedin {
    display: none;
  }

  #username[type=text]{

      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    
  }

  #password[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #searchSong[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #searchPlaylist[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #searchGenre[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  } 
  
  #searchAlbum[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  } 


